/*-------------------------------------------------------------------
  # GENERAL STYLES
-------------------------------------------------------------------*/

:root {
  --default-color: black;
  --heading-color: black;
  --accent-color: #006466;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;

  --nav-color: #a8a9b4;
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #040b14;

  --offwhite: #FBF8C5;
  --grey: #33392D;
  --offblack: #071013;
  --timberwolf: #D3D0CB;

  --bright-teal: #EF8A17;
  --charcoal: #001427;

  --bright-teal: #006466;
  --mid-teal: #065A60;
  --mid2-teal: #0B525B;
  --dark-teal: #144552;
  --deep-blue: #1B3A4B;
  --deep-navy: #212F45;
  --deep-indigo: #272640;
  --deep-indigo-trans1: #27264067;
  --deep-indigo-trans2: #2726402c;
  --white: #FFFFFF;
  --black: #000000;
  --dark-purp: #312244;
  --mid-purp: #3E1F47;
  --bright-purp: #4D194D;

  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

/*-------------------------------------------------------------------
HERO SECTION
-------------------------------------------------------------------*/

.database-hero {
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--deep-navy);
}

.database-hero .container {
  position: relative;
  z-index: 3;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
}

.database-hero h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--offwhite);
  margin-top: 10px;
}

/*-------------------------------------------------------------------
  # DATABASE CONTAINER
-------------------------------------------------------------------*/

.database-container {
  background: var(--background-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/*-------------------------------------------------------------------
ARTICLE CARDS
-------------------------------------------------------------------*/

.database-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border: 0.5px solid var(--grey);
  width: calc(33.333% - 20px);
  min-width: 250px;
  max-width: 400px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: relative;
  gap: 6px; /* Add consistent vertical gap between children */
}

.database-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(239, 138, 23, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px; /* Reduce gap */
}

.card-year {
  font-size: 12px;
  font-weight: bold;
  color: var(--grey);
  text-align: left;
}

.doi-flag {
  font-size: 10px;
  font-weight: bold;
  color: var(--contrast-color);
  background: var(--mid-purp);
  padding: 4px 6px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.card-authors {
  font-size: 12px;
  font-style: normal;
  color: var(--grey);
  margin-left: 50px;
  text-align: right;
  line-height: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  padding: 6px 0; /* Reduce vertical padding */
  line-height: 1.1;
  color: var(--accent-color);
  font-family: var(--default-font);
}

.card-venue {
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
  color: var(--grey);
  text-align: right;
  line-height: 1.1;
}

/*-------------------------------------------------------------------
MOBILE SCREEN RESPONSIVENESS
-------------------------------------------------------------------*/

@media (max-width: 768px) {
  .database-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .database-card {
    width: calc(100% - 20px);
  }
}

@media (min-width: 1200px) {
  body.database-page main {
    margin-left: 300px;
  }
}
